@CHARSET "UTF-8";
/* per evitare di avere bordi o distanze indesiderate */
*{margin: 0;padding:0; font-family: arial;}
body{
  /* stacco un po' il blocco dalla testa */	
  margin-top: 30px;
  background-color: gray;	
  color: white;
}
.container{
	width: 900px;
    /* serve per centrare il div */
	margin: 0 auto;
}					
.alto{
	height: 130px;
	width: 100%;
}
.centro{
	margin: 5px 0;
	float: left;
	width: 100%;
	/* creare un'immagine larga come la prima colonna, adesso non si vede niente */
	background: #006699 url(../img/menubg.jpg) left top repeat-y;
	color: #000;
}
.centro-sinistra{
	display: table;
	float: left;
	width: 200px;
	background: transparent;
}
.inner{
	
	color: white;
	font-size: x-small; 
	text-align: center;
	padding: 5%;
}	
.centro-destra{
	width: 700px;
	float: left;
}
.basso{
	height: 40px;
	line-height: 40px;
	clear: both;
	text-align: center;
	color: white;
	background-color: #330099;
	font-weight: bold;
	font-size: small;
}
a {
  color: white;
}
div > img {
  height : auto;
  width: 100%;
  max-height: 100%;
}