@CHARSET "UTF-8";
/* per evitare di avere bordi o distanze indesiderate */
*{margin: 0;padding:0}
body{
  /* stacco un po' il blocco dalla testa */	
  margin-top: 30px;
  background-color: aqua;	
}					
.header{
	height: 130px;
	background-color: fuchsia;
}
.body{
	float: left;
}
.innerbody{
	width: 300px;
	height: auto;
	margin: 5px;
	background-color: blue; 
}
.content{
	margin: 5px 0;
	float: left;
	width: 100%;
	/* creare un'immagine larga come la prima colonna, adesso non si vede niente */
	background: aqua url(../img/bg.gif) left top repeat-y;
	color: #000;
}
.footer{
	height: 40px;
	background-color: red;
	clear: both;
}
.container{
	width: 70%;
    /* serve per centrare il div */
	margin: 0 auto;
}
.menu{
	float: left;
	width: 200px;
	background: transparent;
}