/* Elementi di base */
html {min-height: 100%;}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #d9e9ea;
	color: #666;
	font: normal 62.5% Tahoma,sans-serif;
}

.clearer {clear: both;}

.left {float: left;}

.right {float: right;}

/* Elementi della gabbia strutturale */
.container {
	background: #FFF;
	font-size: 1.2em;
	margin: 0 auto;
	padding: 0 10px 4px;
	width: 780px;
}

/* Elemento che incorpora l'intestazione e serve per distanziare  
   la gabbia strutturale dal bordo superiore della finestra */
.top {
	padding: 0 10px 0;
}

/* Intestazione
   L'intestazione e' composta da 1 riga di una sola colonna ma divisa in 2 sezioni: title e topnav */
.header {
	background: #FFF;
	font-size: 1.2em;
	height: 70px;
	margin: 0 auto;
	padding: 10px 10px 5px;
	width: 780px;
}

.header .row_top {
	background: #FFF;
	color: #636466;
	height: 70px;	
}

.header .row_top h1 {
	font: normal 2.8em "Trebuchet MS",sans-serif;
	line-height: 70px;
	text-align: left;	
	padding: 0 16px;
}

/* title */
.title {
	float: left;
	text-align: left;
	width: 220px;
}
.title h1 {
	font: normal 2.3em Verdana,sans-serif;
	line-height: 60px;
}

/* top navigation */
.topnav {
	height: 60px;
	padding: 0px;
}
.topnav a {
	border-left: 1px solid #DDD;
	border-right: 1px solid #FFF;
	color: #89A;
	float: right;
	font: bold 1.2em "Trebuchet MS",sans-serif;
	padding: 48px 18px 8px;
	text-align: center;
	text-decoration: none;
}

.topnav a.last{
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	color: #89A;
	float: right;
	font: bold 1.2em "Trebuchet MS",sans-serif;
	padding: 48px 18px 8px;
	text-align: center;
	text-decoration: none;
}

.topnav a:hover {
	color: #74ADDB;
	padding: 48px 18px 10px;
}

/* Corpo Principale */
.main {
	border-top: 4px solid #FFF;
	/* background: url(img/bgmain.gif) repeat-y; */
	background: white;
}

/* Contenuti - 2 colonne nella pagina */
/* Menu navigazione laterale - Colonna a sinistra della pagina */
.nav {
	float: left;
	width: 210px;
}
.nav h2 {
	color: #5A5A43;
	font-size: 1em;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.nav ul {
	padding: 0;
	border-top: 1px solid #EAEADA;
}
.nav li {border-bottom: 1px solid #EAEADA;}
.nav li a {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.nav li a:hover {
	background: #F0F0EB;
	color: #654;	
}

/* Contenuti - Colonna a sinistra della pagina */
.content {
	float: right;
	margin: 10px 0;
	padding: 0 16px;
	width: 531px;
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content li {
	list-style: circle;
	line-height: 1.3em;
	margin-left: 18px;
}

.content h3 {
	font: normal 1.8em Tahoma,sans-serif;
	margin-bottom: 4px;
}

.content p {font-family: "Lucida Sans Unicode",sans-serif;}

.content .box {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #C1CAD3;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}

/* Elemento che incorpora l'intestazione e serve per distanziare  
   la gabbia strutturale dal bordo superiore della finestra */
.bottom {
	padding: 0 10px 50px;
}

/* Pie' di Pagina, chiusura pagina */
.footer {
	margin: 0 auto;
	padding: 10px 10px 5px;
	width: 760px;
	border-right: 10px solid #FFF;
	border-bottom: 10px solid #FFF;
	border-left: 10px solid #FFF;
	background: #2A6062 url('../img/bgbottom.gif') no-repeat;
	font-family: "Lucida Sans Unicode",sans-serif;
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 35px;
	text-align: center;
}
.footer a,.footer a:hover {color: #FFF;}