<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
	
<link href="css/form.css" rel="stylesheet" type="text/css">

</head>
<body>
	<form ng-controller="LoginController as logCtrl" ng-submit="logCtrl.login(credential);">
		<fieldset style="width: 40%; margin: auto 30%; text-align: center;">
			<legend>Login</legend>
			<table class="tableform">
				<tr>
					<td><label for="user">User:</label></td>
					<td><input type="text" id="user" ng-model="logCtrl.credentials.username"></td>
				</tr>
				<tr>
					<td><label for="pass">Pass:</label></td>
					<td> <input type="text" id="pass" ng-model="logCtrl.credentials.password"></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" ng-click="logCtrl.login(logCtrl.credentials);"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>